*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;

}

section{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	
	background: url(img/backgrounds.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.form-box{
	display: flex;
	justify-content: center;
	align-items: center;
	
	position: relative;
	width: 350px;
	height: 250px;
	
	background: transparent;
	border: 2px solid rgba(255,255,255,0.5);
	border-radius: 20px;
	backdrop-filter: blur(6px);
	margin: 25px;
}

.form-box:hover{
	border-color: #fff;
	transition: 0.3s;
}

h2{
    font-size: 17px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}

 .input-name{
	width: 250px;
	height: 40px;

	margin-bottom: 15px;

	background: transparent;
	
	border: 1px solid #fff;
	border-radius: 15px;

	font-size: 15px;
	color: #fff;
}


.input-name:hover{
	border: 2px solid #fff;

}

.input-name::-webkit-input-placeholder{
	color: #fff;
	
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	
	padding-left: 10px;
}

.form-button{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 17px;

	color: #fff;
	width: 100%;
	height: 45px;
	
	border-radius: 15px;
	border: none;
	outline: none;
	cursor: pointer;
	
	background-color: #0DCEDA;
}

.form-button:hover{
	filter: contrast(115%);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.form-button:active{
	background-color: #fff;
	color: #0DCEDA;
}

.modal{
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.65);
	display: none;
	padding: 30px;
	overflow-y: auto;

	cursor: pointer;

}

.modal-main{
	position: relative;
	max-width: 600px;
	margin: auto;
	
	background: azure;
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 15px;
	backdrop-filter: blur(10px);
	padding: 30px;

	color: #000;
	cursor: default;
}

.modal-title{
	margin-bottom: 30px;
}

.modal-close{
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 20px;

	position: absolute;
	top: 10px;
	right: 10px;
}
